.img-placeholder {
    width: 100%;
    height: 200px;
    background: gray;
    border-radius: 10px;
}

.img-placeholder-sm {
    width: 100px;
    height: 80px;
    background: gray;
    border-radius: 5px;
}

.img-placeholder-lg {
    width: 100%;
    height: 250px;
    background: gray;
    border-radius: 10px;
}
